{{log 'encountergen' this}}

<form>
    <div class="flexrow">
        <div title="An estimation of the encounter difficulty and how it changes the encounter CR">
            <label>Encounter difficulty</label>
            <select name="difficultymod" data-difficultymod="difficulty">
                    {{#select options.difficulty}}
                    <option value="-1">Easy (-1)</option>
                    <option value="0">Average</option>
                    <option value="+1">Challenging (+1)</option>
                    <option value="+2">Hard (+2)</option>
                    <option value="+3">Epic (+3)</option>
                    {{/select}}
            </select>
        </div>
        <div title="APL (Average Party Level) is the party's total levels, divided by number of party members. -1 if 3 or fewer players, +1 if 6 or more players">
            APL:
            <input type="number" value="{{options.apl}}" data-avepl='{{options.apl}}' name="apl"/>
        </div>
    </div>
    <div class="flexrow">
        <button type="button" title="Import NPCs to the actor directory" data-action="import"><i class="fas fa-plus"></i>Import</button>
        <button type="button" title="New random encounter" data-action="new"><i class="fas fa-undo"></i>Random encounter</button>
    </div> 
    <table>
        <tr>
            <th style="width: 70px">Img</th>
            <th style="width: 40px">CR</th>
            <th class="flex1">Name</th>
            <th class="flex1">Type</th>
            <th class="flex1">Environment</th>
            <th class="flex1">Organization</th>
        </tr>
        {{#each encounter}} 
        <tr class="sfenc-table" data-alien-index="{{@key}}">
            <td class="sfenc-img"><img src={{img}} style="height: 70px; width:70px;" title="{{img}}"></td>
            <td class="sfenc-cr"><div>{{data.details.cr}}</div></td>
            <td class="sfenc-name"><div data-action='rendersheet'>{{name}}</div></td>
            <td class="sfenc-type"><div>{{data.details.type}}</div></td>
            <td class="sfenc-environment"><div>{{data.details.environment}}</div></td>
            <td class="sfenc-organization"><div>{{data.details.organization}}</div></td>
            <td class="sfenc-reroll" style="width: 5%;"><button type="button" title="Reroll this alien" data-action="reroll">
                <i class="fas fa-undo"></i>
            </button></td>
        </tr>
        {{/each}}
    </table>
</form>